body{
    background: #C5C5C5 url(../img/wall-paper1.png) no-repeat;
    background-size: cover;
}
main{
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
main #main{
    display: inline-block;
    background: rgba(225, 225, 225, 0.6);
    border-radius: 0.07rem;
}
#main div{
    margin: 0.14rem;
}
kbd.tab{
    width:0.7rem ;
    text-transform: lowercase;
}
kbd.caps-lock{
    width:0.83rem ;
    text-transform: lowercase;
}
kbd.enter{
    width:0.81rem ;
    text-transform: lowercase;
}
kbd.shift{
    width:1.1rem ;
    text-transform: lowercase;
}
kbd{
    width: 0.34rem;
    height: 0.51rem;
    border-radius: 0.06rem;
    padding: 0 0.09rem;
    line-height: 0.51rem;
    float: left;
    position: relative;
    margin: 0 0.09rem 0.09rem 0;
    background-color: #000;
    color: #fff;
    text-align: left;
    text-transform: uppercase;
    font-family: keyboard, "Arial Rounded", Helvetica, Arial, sans-serif;
    font-size: 0.18rem;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
    cursor: pointer;
}
kbd:active{
    top: 2px;
    box-shadow: 2px 0 2px rgba(0, 0, 0, 0.5);
}
kbd img{
    width: 0.12rem;
    height: 0.12rem;
    position: absolute;
    left: 10px;
    bottom: 3px;
}
kbd button{
    position: absolute;
    right: 0;
    bottom: 0;
    display: none;
}
kbd:hover button{
    display: block;
}
